SMTP_HOST=mail.dnacreators.net
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=no-reply@dnacreators.net
SMTP_PASS=
SMTP_FROM=no-reply@dnacreators.net
SMTP_TO=vincenzo@dnacreators.net
EVENT_NAME=GSIC Summit
PORT=8765
